<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.portto.blocto"/>
        <package android:name="com.portto.blocto.dev"/>
    </queries>

    <application>
        <activity
            android:name=".webview.WebViewActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>